
.navbar {
    display: flex;
    align-items: center;
    background: #95D1CC;
    color: black;
}

.navbar-title, .navbar-icon {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}


.navbar-button {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}